{% block stylesheets %}
    {{ encore_entry_link_tags('top-search') }}

    {# <link rel="stylesheet" href="{{ asset('scss/mainpage.css') }}"> #}

{% endblock %}

<div class="col-8 mx-auto top-search px-5">
    <div class="row">
        <div class="col-12 title">
            <span class="login-bar">
            <a href="{{ path('app_login') }}">Login</a>
            <a href="{{ path('app_login') }}">Register</a>
            </span>
            <h3 class="mb-5">Smugde Search</h3>
        </div>
        <div class="col main-search">
            <div class="row">
                <div class="col">
                    <input class="test" type="text" placeholder="Pen">
                </div>
                <div class="col align-self-center">
                                <span>
                                    OR
                                </span>
                </div>
                <div class="col">
                    <input type="text" placeholder="Ink">
                </div>
                <div class="col align-self-center">
                                <span>
                                    OR
                                </span>
                </div>
                <div class="col">
                    <input type="text" placeholder="Paper">

                </div>
            </div>
        </div>

    </div>
</div>