
<div class="row mx-5">
    <div class="col-6 product-img-container">
        <img src="https://via.placeholder.com/400" alt="">
    </div>

    <div class="col text-left">
        <h2>TWSBI Eco</h2>
        <p>Brand: </p>
        <p>Model: </p>
        <p>Year:</p>
        <p>Available colors:</p>
        <p>Country:</p>
        <p>Materials:</p>
    </div>
</div>